{% extends "base.html" %}

{% block head %}

<title>Dashboard</title>

{% endblock %}

{% block corpo %}
<script src="/static/eventi.js"></script>

<div class="col" id="dashboard" x-show="route === ''">
<h4 class="text-center scritta"><strong>Qualche bel grafico apparirà qui</strong></h4>
</div>

<div id="eventi" x-data="eventi()" x-show="route === 'eventi'">
    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#eventoModal" data-bs-eventoid="">CREA EVENTO</button>
    <button type="button" class="btn btn-sm btn-primary" @click=refreshEventi() id="refresh_eventi"><span class="material-symbols-outlined">refresh</span></button>
    <table class="table">
        <thead>
            <tr>
            <th scope="col"><span class="scritta">Nome Evento</span></th>
            <th scope="col"><span class="scritta">Tipo Evento</span></th>
            <th scope="col"><span class="scritta">Stato</span></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <template x-for="i in elenco_eventi.response" :key="i.id">
                <tr>
                    <td x-text="i.nome"></td>
                    <td x-text="i.tipo"></td>
                    <td>
                    <template x-if="i.stato == 'PENDING'">
                        <span class="badge text-bg-warning">IN ATTESA</span>
                    </template>
                    <template x-if="i.stato == 'ACTIVE'">
                        <span class="badge text-bg-success">ATTIVO</span>
                    </template>
                    <template x-if="i.stato == 'SUBMIT'">
                        <span class="badge text-bg-primary">SOTTOMESSO</span>
                    </template>
                    <template x-if="i.stato == 'DONE'">
                        <span class="badge text-bg-secondary">CHIUSO</span>
                    </template>
                    </td>
                    <td>
                    <a class="btn btn-sm btn-primary" :href="`/evento/${i.id}`"><span class="material-symbols-outlined">expand_content</span></a>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</div>

<div class="modal fade" id="eventoModal" tabindex="-1" aria-labelledby="eventoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="eventoModalLabel">Evento</h1>
        </div>
        <div class="modal-body mx-2">
        <form  x-data="eventiForm()" @submit.prevent="submitForm">
            <div class="mb-3 row">
            <div class="col">
                <label for="nome" class="form-label">Nome Evento</label>
                <input type="text" class="form-control" id="nome" x-model="formData.nome">
            </div>
            <div class="col">
                <label for="cognome" class="form-label">Tipo Evento</label>
                <select class="form-select" id="tipo_evento" x-model="formData.tipo_evento">
                    <template x-for="i in elenco_tipi" :key="i.id">
                        <option :value="i.id">
                            <span x-text="i.nome"></span>
                        </option>
                    </template>
                </select>
            </div>
            </div>
            <div class="mb-3 row">
            <div class="col">
                <label for="cognome" class="form-label">Account Responsabile</label>
                <select class="form-select" id="account_responsabile" x-model="formData.account_responsabile">
                    <template x-for="i in elenco_account" :key="i.id">
                        <option :value="i.id">
                            <span x-text="i.nome + ' - ' + i.cognome"></span>
                        </option>
                    </template>
                </select>
            </div>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
            <button type="submit" class="btn btn-primary" :disabled="formLoading" data-bs-dismiss="modal">Conferma</button>
        </form>
        </div>
    </div>
    </div>
</div>

{% endblock %}
